*::before,
*::after,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 12px;
}

body{
    min-height: 100vh; 
    font-family: sans-serif;
    background: #efefef;
    display: flex;
    justify-content: center;
}

.container{
    position: relative;
    background: #fff;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 10px;
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.4));
    padding: 30px;
}

.container h1{
    text-align: center;
    font-size: 2rem;
}

.content-accordion {
    margin-top: 35px;
    margin-right: 50px;
}

.question{
    display: flex;
    justify-content: space-between;
}

.title-question{
    margin: 1.4rem 0rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
}

.question-btn{
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.up-icon{
    display: none;
}

.answer{
    font-size: 1.2rem;
    line-height: 1.8;
    display: none;
}
.show-text .answer{
    display: block;
}

.show-text .up-icon{
    display: inline;
}

.show-text .down-icon{
    display: none;
}

.accordion{
    position: relative;
    width: 350px;
    margin-left: 30px;
    margin-top: 50px;
}